<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>
    <link rel="stylesheet" href="~/css/vendor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/vendor.js" asp-append-version="true"></script>
    <script src="~/js/moment.min.js"></script>
</head>

<body>
    <div id="root-content">
        <div class="layout-header">
            @(Html.DevExtreme().Toolbar()
                    .Items(items =>
                    {
                        items.Add()
                        .Html("<div>Mobile Report</div>")
                        .Location(ToolbarItemLocation.Center)
                        .CssClass("header-title");
                    })
            )
        </div>
        <div class="layout-body">
            @RenderBody()
        </div>
    </div>
</body>
</html>
