<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">

    <title></title>
    <link rel="stylesheet" href="~/css/devextreme/bootstrap.min.css"/>
    <style>
        td, th {
            font-weight: normal;
            font-size: 12px;
        }

        .htext {
            font-family: Tahoma, Verdana, Arial;
            font-weight: bold;
            font-size: 20px;
        }

        .h1text {
            font-family: Tahoma, Verdana, Arial;
            font-weight: bold;
            font-size: 16px;
        }

        .errorText {
            font-family: Tahoma, Verdana, Arial;
            font-weight: bold;
            color: red;
            font-size: 15px;
        }

        .tdHeader {
            font-size: 11px;
            line-height: 15px;
            font-family: sans-serif;
            font-family: Tahoma, Verdana, Arial;
            font-weight: normal;
            color: White;
        }

        .tdText {
            font-size: 11px;
            line-height: 15px;
            font-family: sans-serif;
            font-family: Tahoma, Verdana, Arial;
            font-weight: normal;
            color: black;
        }

        .tdBoldText {
            font-size: 11px;
            line-height: 15px;
            font-family: sans-serif;
            font-family: Tahoma, Verdana, Arial;
            font-weight: bold;
            color: black;
        }

        .summaryClass {
            font-family: Tahoma, Verdana, Arial;
            font-weight: normal;
            font-size: 12px;
            background-color: #f0f0f5;
        }

        .thClass {
            font-size: 11px;
            line-height: 15px;
            font-family: sans-serif;
            font-family: Tahoma, Verdana, Arial;
            font-weight: bold;
            color: black;
            background-color: #f0f0f5;
        }
    </style>

    <style media="print">
        .noprint {
            display: none;
        }
    </style>
</head>

<body>
    @RenderBody()
</body>
</html>
