@page
@model VerticalTec.POS.Report.Dashboard.Pages.BillReportModel
@{
    ViewData["Title"] = "Bill";
}

<div class="mt-4 ml-1 mr-1 text-center">
    <div id="report-type-scrollview">
        @(Html.DevExtreme().ButtonGroup().ID("btn-group-report-type").KeyExpr("group")
                                            .FocusStateEnabled(true)
                                            .Items(items =>
                                            {
                                                items.Add().Text("Details").Option("group", "0");
                                                items.Add().Text("Group By Date").Option("group", "1");
                                                items.Add().Text("Group By Shop").Option("group", "2");
                                            }).SelectedItemKeys(new[] { "0" })
                                            .OnItemClick("groupItemClick"))
    </div>
</div>

<div id="billGrid" class="m-2">
</div>

<script>
    var dataSource = new DevExpress.data.DataSource({
        store: new DevExpress.data.CustomStore({
        loadMode: "raw",
        load: function (loadOptions) {
                let criteria = getCriteria();
                let shopIds = criteria.shopIds;
                let fromDate = moment(criteria.fromDate);
                let toDate = moment(criteria.toDate);
                let url = '@Url.Content("~/api/report/bills")?shopIds=' + shopIds + '&startDate=' + fromDate.toISOString() + '&endDate=' + toDate.toISOString();

                return $.getJSON(url);
            },
            onLoaded: function (result) {
            }
        })
    }); 


    function groupItemClick(e) {
        var grid = $("#billGrid").dxDataGrid('instance');
        grid.columnOption("SaleDate", "groupIndex", undefined);
        grid.columnOption("ShopName", "groupIndex", undefined);

        switch (e.itemData.group) {
            case "1":
                grid.columnOption("SaleDate", "groupIndex", 1);
                break;
            case "2":
                grid.columnOption("ShopName", "groupIndex", 1);
                break;
        }
    }

    function loadReport() {
        dataSource.reload();
    }

    function pageLoaded() {
        $("#billGrid").dxDataGrid({
            dataSource: dataSource,
            showBorders: true,
            grouping: {
                autoExpandAll: true,
            },
            paging: {
                pageSize: 100
            },
            columns: [
                {
                    dataField: "SaleDate",
                    visible:false,
                },
                {
                    dataField: "ShopName",
                    visible:false
                },
                {
                    dataField: "ReceiptNumber",
                },
                {
                    caption: 'Qty',
                    dataField: "Qty",
                    alignment: 'right',
                    width: '20%'
                },
                {
                    dataField: "Amount",
                    alignment: 'right',
                    width:'20%'
                }
            ]
        });
    }
</script>

