@inherits LayoutComponentBase

    <div class="col-12 mt-5">
        <center>
            <div class="col-3 card" style="min-width:320px;">
                <div class="row">
                    <p>&nbsp;</p>
                </div>
                <div class="row">
                    <div class="col-12">
                        @Body
                    </div>
                </div>
            </div>
        </center>
    </div>