<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	  <add key="DbName" value="vtecpos" />
	  <add key="DbServer" value="127.0.0.1" />
	  <add key="ApiPort" value="9500" />
	  <add key="ApiUser" value="" />
	  <add key="ApiPass" value="" />
	  <add key="RCAgentPath" value="" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
