<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  
  <targets async="true">
    <target name="logglobal" xsi:type="File"
            encoding="utf-8"
            fileName="Log/global_${shortdate}.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logordering" xsi:type="File"
            encoding="utf-8"
            fileName="Log/ordering_${shortdate}.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logpayment" xsi:type="File"
            encoding="utf-8"
            fileName="Log/payment_${shortdate}.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logmember" xsi:type="File"
            encoding="utf-8"
            fileName="Log/member_${shortdate}.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logpromotion" xsi:type="File"
            encoding="utf-8"
            fileName="Log/promotion_${shortdate}.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="logtable" xsi:type="File"
            encoding="utf-8"
            fileName="Log/table_${shortdate}.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>

             <target xsi:type="File" name="infoFile" fileName="Log/RCAgent/logs/info_${shortdate}.log"
           layout="${longdate} ${uppercase:${level}} ${message}" createDirs="true" />
    <target xsi:type="File" name="traceFile" fileName="Log/RCAgent/logs/trace_${shortdate}.log"
           layout="${longdate} ${uppercase:${level}} ${message}" createDirs="true" />
    <target xsi:type="File" name="errorFile" fileName="Log/RCAgent/logs/error_${shortdate}.log"
           layout="${longdate} ${uppercase:${level}} ${message}" createDirs="true" />
  </targets>

  <rules>
    <logger name="logglobal" minlevel="Info" writeTo="logglobal" />
    <logger name="logordering" minlevel="Info" writeTo="logordering" />
    <logger name="logpayment" minlevel="Info" writeTo="logpayment" />
    <logger name="logmember" minlevel="Info" writeTo="logmember" />
    <logger name="logpromotion" minlevel="Info" writeTo="logpromotion" />
    <logger name="logtable" minlevel="Info" writeTo="logtable" />

     <logger name="*" minlevel="Error" maxlevel="Error" writeTo="errorFile" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="infoFile" />
    <logger name="*" minlevel="Info" maxlevel="Error" writeTo="traceFile" />
  </rules>
</nlog>