<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  
  <targets async="true">
    <target name="communication" xsi:type="File"
            encoding="utf-8"
            fileName="Log/communication_${shortdate}.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
  </targets>

  <rules>
    <logger name="communication" minlevel="Info" writeTo="communication" />
  </rules>
</nlog>