@page
@model VerticalTec.POS.Report.Dashboard.Pages.Public.FullTaxReportModel

<div class="m-2">
    <div class="noprint float-right">
        <a href="javascript: window.print()"><span>Print</span></a> | <a href="javascript: window.close()"><span>Close</span></a>
    </div>
    <p>@Html.Raw(Model.Html)</p>
</div>