<div class="card card-space-bottom">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <b>Summary Sale</b>
            </div>
            <div class="col-3 float-right">
            </div>
        </div>
    </div>
    <div class="card-body" id="summary">
    </div>
</div>
<div class="card card-space-bottom">
    <b class="card-header">Tender</b><div class="card-body" id="tender">
    </div>
</div>
<div class="card card-space-bottom">
    <b class="card-header">Audit</b><div class="card-body" id="audit">
    </div>
</div>

@(Html.DevExtreme().LoadPanel()
        .ID("summaryLoadPanel")
        .ShadingColor("rgba(255,255,255,0.4)")
        .Position(p => p.Of("#summary"))
        .Visible(false)
        .ShowIndicator(true)
        .ShowPane(false)
        .Shading(true)
        .CloseOnOutsideClick(false)
)

@(Html.DevExtreme().LoadPanel()
        .ID("tenderLoadPanel")
        .ShadingColor("rgba(255,255,255,0.4)")
        .Position(p => p.Of("#tender"))
        .Visible(false)
        .ShowIndicator(true)
        .ShowPane(false)
        .Shading(true)
        .CloseOnOutsideClick(false)
)

@(Html.DevExtreme().LoadPanel()
        .ID("auditLoadPanel")
        .ShadingColor("rgba(255,255,255,0.4)")
        .Position(p => p.Of("#audit"))
        .Visible(false)
        .ShowIndicator(true)
        .ShowPane(false)
        .Shading(true)
        .CloseOnOutsideClick(false)
)
<script type="text/javascript">
    $(document).ready(function () {
        $('.collapse').collapse('show');
        loadReport();
    });
</script>