
@(Html.DevExtreme().ResponsiveBox()
                   .Rows(rows =>
                       {
                           rows.Add().Ratio(1);
                           rows.Add().Ratio(1);
                       rows.Add().Ratio(1);
                       rows.Add().Ratio(1);
                   rows.Add().Ratio(1);
                   rows.Add().Ratio(1);
               })
                   .Cols(cols =>
                       {
                       cols.Add().Ratio(1);
                   })
                   .Items(items =>
                       {
                       items.Add()
                           .Template(@<text><div class="card">
            <b class="card-header">Summary Sale</b><div class="card-body" id="summary">
            </div>
        </div></text>)
.Location(locations =>
{
locations.Add().Row(1).Col(0);
});
items.Add()
.Template(@<text><div class="card">
                                <b class="card-header">Tender</b><div class="card-body" id="tender">
                                </div>
                            </div></text>)
.Location(locations =>
{
locations.Add().Row(2).Col(0);
});
items.Add()
.Template(@<text><div class="card">
        <b class="card-header">Audit</b><div class="card-body" id="audit">
        </div>
    </div></text>)
.Location(locations =>
{
locations.Add().Row(3).Col(0);
});
})
)

@(Html.DevExtreme().LoadPanel()
        .ID("summaryLoadPanel")
        .ShadingColor("rgba(255,255,255,0.4)")
        .Position(p => p.Of("#summary"))
        .Visible(false)
        .ShowIndicator(true)
        .ShowPane(false)
        .Shading(true)
        .CloseOnOutsideClick(false)
)

@(Html.DevExtreme().LoadPanel()
        .ID("tenderLoadPanel")
        .ShadingColor("rgba(255,255,255,0.4)")
        .Position(p => p.Of("#tender"))
        .Visible(false)
        .ShowIndicator(true)
        .ShowPane(false)
        .Shading(true)
        .CloseOnOutsideClick(false)
)

@(Html.DevExtreme().LoadPanel()
        .ID("auditLoadPanel")
        .ShadingColor("rgba(255,255,255,0.4)")
        .Position(p => p.Of("#audit"))
        .Visible(false)
        .ShowIndicator(true)
        .ShowPane(false)
        .Shading(true)
        .CloseOnOutsideClick(false)
)