@(Html.DevExtreme().Toolbar()
            .ID("layout-toolbar")
            .Items(items =>
            {
                items.Add().Template(@<text><div class="toolbar-label"><b>Reports</b></div></text>)
.LocateInMenu(ToolbarItemLocateInMenuMode.Never)
.Location(ToolbarItemLocation.Center);
items.Add().Widget(w => w.Button().Icon("refresh").OnClick("refresh_click"))
.Location(ToolbarItemLocation.After);
}))

<div class="d-flex flex-column">
    <div class="card justify-content-around align-self-stretch">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <b>Summary Sale</b>
                </div>
                <div class="col-3 float-right">
                    @(Html.DevExtreme().Button().Text("Close"))
                </div>
            </div>
        </div>
        <div class="card-body" id="summary">
        </div>
    </div>
    <div class="card justify-content-around align-self-stretch">
        <b class="card-header">Tender</b><div class="card-body" id="tender">
        </div>
    </div>
    <div class="card justify-content-around align-self-stretch">
        <b class="card-header">Audit</b><div class="card-body" id="audit">
        </div>
    </div>
</div>

@(Html.DevExtreme().LoadPanel()
        .ID("summaryLoadPanel")
        .ShadingColor("rgba(255,255,255,0.4)")
        .Position(p => p.Of("#summary"))
        .Visible(false)
        .ShowIndicator(true)
        .ShowPane(false)
        .Shading(true)
        .CloseOnOutsideClick(false)
)

@(Html.DevExtreme().LoadPanel()
        .ID("tenderLoadPanel")
        .ShadingColor("rgba(255,255,255,0.4)")
        .Position(p => p.Of("#tender"))
        .Visible(false)
        .ShowIndicator(true)
        .ShowPane(false)
        .Shading(true)
        .CloseOnOutsideClick(false)
)

@(Html.DevExtreme().LoadPanel()
        .ID("auditLoadPanel")
        .ShadingColor("rgba(255,255,255,0.4)")
        .Position(p => p.Of("#audit"))
        .Visible(false)
        .ShowIndicator(true)
        .ShowPane(false)
        .Shading(true)
        .CloseOnOutsideClick(false)
)