
@(Html.DevExtreme().Toolbar()
.ID("layout-toolbar")
.Items(items =>
{
    items.Add().Template(@<text><div class="toolbar-label"><b>Setting</b></div></text>)
.LocateInMenu(ToolbarItemLocateInMenuMode.Never)
.Location(ToolbarItemLocation.Center);
items.Add().Widget(w => w.Button().Icon("back").OnClick("back_to_home_click"))
.Location(ToolbarItemLocation.Before);
}))