<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="COMPANYFOLDER" Name="!(loc.Company)">
					<Directory Id="INSTALLFOLDER" Name="!(loc.ProductNameFolder)" />
				</Directory>
			</Directory>
		</Directory>
	</Fragment>
</Wix>
