<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<!--{715EB601-BCE6-40BF-A7E6-658638687754}-->
	<?define ProductCode = "{11A98B6A-511F-4067-A72C-E58582A7E3EB}"?>
	<?define UpgradeCode = "{10B10A98-1846-43EE-BB64-EF9FF4151F99}"?>
	<?define BuildVersion = 1.0.1?>
	
	<Product Id="$(var.ProductCode)" 
			 Name="!(loc.ProductName)" 
			 Language="!(loc.Language)" 
			 Version="$(var.BuildVersion)" 
			 Manufacturer="!(loc.Company)" 
			 UpgradeCode="$(var.ProductCode)">
		
		<Package InstallerVersion="200" 
				 Compressed="yes" 
				 InstallScope="perMachine" 
				 Manufacturer="!(loc.Company)"
				 Description="!(loc.Description)"
				 Languages="!(loc.Language)"/>

		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" />
		<MediaTemplate EmbedCab="yes"/>
		
		<Property Id="WIXUI_INSTALLDIR" Value="COMPANYFOLDER" />
		<UIRef Id="WixUI_InstallDir"/>
		
		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\license.rtf"/>
		
		<Feature Id="ProductFeature" Title="!(loc.ProductName)" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
			<ComponentGroupRef Id="PublishedComponents" />
			<ComponentGroupRef Id="ProductComponents1" />
			<ComponentGroupRef Id="PublishedComponents1" />
		</Feature>
	</Product>
</Wix>
