<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  
  <targets async="true">
    <target name="info" xsi:type="File"
            encoding="utf-8"
            fileName="Log/info-${shortdate}.txt"
            layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}"/>
    <target name="debug" xsi:type="File"
            encoding="utf-8"
            fileName="Log/debug-${shortdate}.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
    <target name="error" xsi:type="File"
            encoding="utf-8"
            fileName="Log/error-${shortdate}.txt"
            layout="${longdate} ${level:uppercase=true} ${message}"/>
  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="info" enabled="true"/>
    <logger name="*" level="Debug" writeTo="debug" enabled="true"/>
    <logger name="*" minlevel="Error" writeTo="error" enabled="true"/>
  </rules>
</nlog>